* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat';
    background-color: #000915;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1024px;

    &__content {
        padding-top: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        max-width: 789px;
    }

    &__desc {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        max-width: 481px;
        margin-bottom: 25px;
    }
}

.btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #9C0332;
    border-radius: 30px;
    display: block;
    padding: 13px 74px;
    transition: all .3s;

    &:hover {
        background: #EB443F;
    }
}

.menu-game {
    display: flex;
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 128px;
    padding-bottom: 128px;

    &__item {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
        padding: 32px;
        min-height: 300px;
        width: 378px;
        box-sizing: border-box;
        border-radius: 16px;
        transition: all .3s;

        &:hover {
            border: 3px solid #44D2FF;
        }

        &_1 {
            background-image: url(img/game1.jpg);
        }

        &_2 {
            background-image: url(img/game2.jpg);
        }

        &_3 {
            background-image: url(img/game3.jpg);
        }

    }
}

.game-seasons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 234px;
    padding-bottom: 234px;
    &__menu {
        max-width: 584px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    &__name {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
    &__desc {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
}

.game-memory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    &__menu {
        max-width: 588px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

    }
    &__name {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
    &__desc {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
    
}

.game-riddle {
    background-image: url(img/game-riddle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1024px;
    &__menu {
        padding-top: 276px;
        max-width: 1200px; 
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
    }
    &__name {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;

    }
    &__desc {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        text-align: center;
     }
}

.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        text-align: center;
    }
}
@import 'mobile';
